body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

span{
    color: orange;
}
section{
    display: flex;
}
.half-wid{
    width: 50%;
   padding-left: 5%;
   
}
.half-wid img{
    width: 70%;
    border-radius:100%;
    height: 60%;
   margin-top: 75px;
   
}
.half-wid h2{
    text-align: center;
    color: tomato;
}
.link-button{
   text-decoration: none; 
 
   background-image: linear-gradient(orange,tomato);
   padding: 2%;
   border-radius: 5%;
   color:whitesmoke;
   font-weight: 700;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}