body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

span{
    color: orange;
}
.flexible-con{
    display: flex;
    margin-bottom: 10px;
}
.half-wid{
    width: 50%;
   padding-left: 5%;
   
}
.half-wid img{
    width: 70%;
    border-radius:100%;
    height: 60%;
   margin-top: 75px;
   
}
.half-wid h2{
    text-align: center;
    color: tomato;
}
.link-button{
   text-decoration: none; 
   background-image: linear-gradient(orange,tomato);
   padding: 2%;
   border-radius: 5%;
   color:whitesmoke;
   font-weight: 700;

}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.sec-wid{
    width: 50%;
    padding-left:15px;
    padding-right: 35px;
  
}
.sec-wid img{
    width: 70%;
    height: 60%;
    margin-left: 10%;
    padding-top: 10px;
}
.sec-wid h2{
    text-align: center;
}
.IRONMAN{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.marvel{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:  left center;
    
}
.item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 5%;
    border-radius: 10px;   
}
#mcu{
    border-left: 5px solid ;
    border-image:linear-gradient(yellow ,tomato) ;
    border-image-slice: 1;
    border: radius 5px;
}
#dc{
    border-left: 5px solid ;
    border-image:linear-gradient(blue,tomato) ;
    border-image-slice: 1;
    border: radius 5px;
}
footer p{
    text-align: center;
    color: peru;

}